@model BlogPostViewViewModel
@inject BlogWebApp.Services.IMarkdownRenderer Markdown
@section Head {
    @await Html.PartialAsync("_OgTags", Model)
    @await Html.PartialAsync("_JsonLd", Model)
}

<div>
    <h1 class="mt-5 h3">@Model.Title</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <a href="/post/edit/@Model.PostId">edit</a>
}
<p>Written by: @Model.AuthorUsername</p>
<div>@Markdown.Render(Model.Content, Model.Format)</div>
