@model BlogPostViewViewModel


<div>
    <h1 class="mt-5 h3">@Model.Title</h1>
</div>

@if (User.IsInRole("Admin"))
{
    <a href="/post/edit/@Model.PostId">edit</a>
}
<p>Written by: @Model.AuthorUsername</p>
<p>
    @Html.Raw(Model.Content)
</p>
